@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Apply the Poppins font globally */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Apply Poppins globally */
}
/* Eliminate margin, padding, and overflow issues */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide any potential overflow */
}

/* Make sure the Next.js root div takes up full height */
#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensure content starts from the top */
}

/* Ensure main content stretches to fill the remaining space */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

